{% extends "eduon/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <h1>Subjects</h1>

    <div id="subjects" class="grid-container">
        {% for subject in subjects %}
        <a class="grid-item card" href="{% url 'class' subject.id%}" style="width: 18rem;">
            <img src="{{subject.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{subject.title}}</h5>
                <p class="card-text">{{subject.description}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}