{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit {{ title|safe }}</h1>
    {% if alert != None %}
        <div class="alert alert-warning" role="alert">
            {{ alert|safe }}
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="staticTitle">Title</label>
            <input type="text" readonly class="form-control-plaintext" id="staticTitle" value="{{ title }}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Content</label>
            <textarea name="content" class="form-control col-sm-12" id="exampleFormControlTextarea1" rows="5" 
            placeholder="Please enter the content for your page">{{ content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save Page</button>
    </form>
{% endblock %}